@import "tailwindcss";

/* Load local fonts */
@layer base {

  /* Variable regular */
  @font-face {
    font-family: "Noto Sans";
    src: url("./assets/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
  }

  /* Variable italic */
  @font-face {
    font-family: "Noto Sans";
    src: url("./assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: italic;
    font-display: swap;
  }

  /* Optional static fallbacks */
  @font-face {
    font-family: "Noto Sans";
    src: url("./assets/fonts/static/NotoSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans";
    src: url("./assets/fonts/static/NotoSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans";
    src: url("./assets/fonts/static/NotoSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

/* Tailwind v4 tokens */
@theme {
  /* Fonts */
  --font-sans: "Noto Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif;
  --font-noto: "Noto Sans", ui-sans-serif, system-ui, sans-serif;
  --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;

  --text-preset-1: 34px;
  --text-preset-1--line-height: 100%;
  --text-preset-1--letter-spacing: -1px;

  --text-preset-2: 20px;
  --text-preset-2--line-height: 120%;
  --text-preset-2--letter-spacing: -0.2px;

  --text-preset-3: 20px;
  --text-preset-3--line-height: 140%;
  --text-preset-3--letter-spacing: -0.3px;

  --text-preset-4: 20px;
  --text-preset-4--line-height: 140%;
  --text-preset-4--letter-spacing: -0.3px;

  --text-preset-5: 16px;
  --text-preset-5--line-height: 140%;
  --text-preset-5--letter-spacing: -0.5px;

  --text-preset-6: 16px;
  --text-preset-6--line-height: 140%;
  --text-preset-6--letter-spacing: -0.5px;

  --spacing-0: 0;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;



  --color-neutral-900: #091540;
  --color-neutral-800: #202535;
  --color-neutral-700: #2F364B;
  --color-neutral-600: #535868;
  --color-neutral-300: #C6C6C6;
  --color-neutral-200: #D6E2F5;
  --color-neutral-100: #EEEEEE;
  --color-neutral-0: #FBFDFE;
  --color-red-400: #C7231A;
  --color-red-500: #DE4840;
  --color-red-700: #F25C54;

  /* Gradients */
  --gradient-light-start: oklch(0.96 0.015 257);
  /* #EBF2FC */
  --gradient-light-end: oklch(0.97 0.011 204);
  /* #EEF8F9 */
  --gradient-dark-start: oklch(0.14 0.034 265);
  /* #040918 */
  --gradient-dark-end: oklch(0.22 0.084 267);
  /* #091540 */

  --gradient-light: linear-gradient(180deg, var(--gradient-light-start) 0%, var(--gradient-light-end) 100%);
  --gradient-dark: linear-gradient(180deg, var(--gradient-dark-start) 0%, var(--gradient-dark-end) 100%);

  --radius-lg: 20px;
  --radius-sm: 10px;
}